.grid-container {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-auto-rows: 50px;
}

.grid-container .grid-item {
  padding: 10px;
  border: 1px solid #26a;
  margin: 5px;
}

.btn-confirmar {
  padding: 9px 15px;
  margin: 5px;
  background: #26a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-confirmar:hover {
  background: #16e;
}
