body,
div {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 50px;
  text-align: center;
  margin-bottom: 0;
}

body {
  background: #ededed;
}

canvas {
  border: 1px solid #000;
}

.editor {
  margin: 30px;
  background: #fff;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.barra {
  margin-top: 0;
  border: 1px solid #000;
  background: #000;
  padding: 5px;
}

.tamaño {
  width: 430px;
}
